img{
    height: 200px;
    width: 200px;
   
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 
ul{
    display: flex;
    list-style: none;
}
#kryesori{
    display: flex;
}
#left-side{
    background-color: plum;
    width: 295px;
    padding: 50px;
}